<div class="app">
  <div #fullscreenArea class="app__fullscreenArea">
    <div class="app__fullscreenArea__controls">
      <!-- Open Dialog Button -->
      <button mat-raised-button color="primary" (click)="handleOpenDialog()">
        Open Dialog
      </button>

      <!-- Fullscreen Button -->
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        (click)="handleClickFullscreen()"
      >
        <mat-icon>{{
          (isFullscreen$ | async) ? "close_fullscreen" : "fullscreen"
        }}</mat-icon>
      </button>
    </div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
